table.adj1 {
    table-layout: auto;
    width: 100%;
}
table.adj2 {
    table-layout: auto;
    width: 100%;
}
.top2 {
    font-weight: bold;
    font-style: italic;
}
h4 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size:2vw
}