h1 {
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size:5vw
}
h2 {
    color: white;
    text-align: center;
    font-size:5vw
}
h3 {
    color: yellow;
    text-align: center;
    font-size:4vw
}
h4 {
    color: white;
    text-align: center;
    font-size:4vw
}